*{ 
    margin: 0%; 
}

@font-face {
    font-family: cavestory;
    src: url(../fonts/cave-story.ttf);
  }

body {
    background-image: url('../images/accueil/background.jpg');
    background-repeat: no-repeat;
}

header {
    text-align: left;
    padding: 20px;
    padding-left: 2px;
    background-color: grey;
}

header img{
    float: left;
}

nav {
    background-color: grey;
    padding: 20px;
    text-align: center;
}

span {
    font-size: 130%;
    color: white;

}

aside {
    height: 700px;
    width: 400px;
    border: grey 5px;
    margin: 20px;
    margin-top: 60px;
    margin-left: 20px;
    float: left;
    background-color: white;
}

section {
    padding-left: 20px;
    height: 700px;
    width: 800px;
    margin: 20px;
    margin-top: 60px;
    margin-right: 20px;
    float: right;
    background-color: white;
}

h2 {
    font-family: cavestory;
    font-size: 250%;
    margin-top: 20px;
    text-align: center;
}

footer {
    padding: 20px;;
    background-color: grey;
    clear: both;
}