*{ 
    margin: 0%; 
}

@font-face {
    font-family: cavestory;
    src: url(../fonts/cave-story.ttf);
  }

body {
    text-align:center;
    background-image: url('../images/accueil/background.jpg');
    background-repeat: repeat;
}

header {
    text-align: left;
    padding: 20px;
    padding-left: 2px;
    background-color: grey;
}

header img{
    float: left;
}

nav {
    background-color: grey;
    padding: 20px;
    text-align: center;
    font-size: 130%;
    color: white;
}


section {
    padding: 30px;
    width: 1200px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    font-size: 250%;
    margin-top: 20px;
    margin-bottom: 50px;
}

footer {
    padding: 20px;;
    background-color: grey;
    clear: both;
}

th {
    border: solid;
    border-width: 1px 0;
}
table {
    font-family: cavestory;
    font-size: 450%;
    text-align: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}